{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h2>Sell Stock</h2>
    <h4>Provide symbol of a stock and a number of shares:</h4>
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" name="symbol" autocomplete="off" type="text">
            <option disabled="" selected="" value="">symbol</option>
            {% for i in portfolio %}
                <option value="{{ i.symbol }}">{{ i.symbol }}</option>
            {% endfor %}
           </select>
        </div>
        <div class="form-group">
            <input type="number" autofocus class="form-control" name="shares" placeholder="Number of shares" min="1" max="1000000">
       </div>

        <button class="btn btn-primary" type="submit">Sell stock</button>
    </form>
{% endblock %}
